@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto&display=swap');

body{
    font-family: 'Orbitron', sans-serif;
    background-color: #A8DF8E;
    overflow: hidden;
}
#mainMenu{
    text-align: center;
}

.box{
    display: flex;
    background-color: #FFE5E5;
    border: 3px solid black;
    border-radius: 5%;
    box-shadow: 3px 6px 6px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

.radioChoice{
    width: 15px;
}

.titleDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px;
    width: 100%;
    height: 15%;
    background-color: #F3FDE8;
    margin-top: 0px;
    border: 3px solid grey;
}

#petChoiceTitle{
    color: black;
}

#petChoiceBox{
    margin-top: 4%;
    margin-bottom: 0px;
}

#nameDiv{
    font-weight: bold;
    flex-direction: column;
    width: 20%;
    margin: auto;
    margin-top: 3.5%;
    padding-bottom: 2%;
}

#petChoiceList{
    justify-content: space-around;
    width: 30%;
    padding: 4%;
    margin: auto;
    margin-top: 3%;
}

#petChoiceList label{
    font-size: 30px;
    margin-left: 10px;
}

.radioDiv{
    display: flex;
    margin: 5%;
}

#inputName{
    border: 1px solid black;
    font-size: 20px;
    width: 55%;
    margin: auto;
    margin-bottom: 8%;
}

#readyButton{
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
    background-color: #FFBFBF;
    width: 25%;
    margin: auto;
    transition: 0.5s;
}

#readyButton:hover{
    background-color: #FFE5E5;
    cursor: pointer;
}

#pet-pages {
    display: none;
    flex-direction: column;
    text-align: center;
}

#pet-title {
    font-size: 45px;
}

#bars {
    font-weight: bold;
    flex-direction: column;
    width: 25%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    border: 2px solid black;
    padding: 10px;
}

.whole-bar {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.health-bar {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}
.bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    transition: width 0.5s linear;
}

.hit {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    transition: width 0.5s linear;
}

#buttons {
    justify-content: space-around;
    margin: 40px auto;
    border: 2px solid black;
    width: 40%;
    padding: 2%;
}

.gameButtons {
    margin: 0 20px;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
    background-color: #FFBFBF;
    width: 20%;
    margin: auto;
    transition: 0.5s;
}

.gameButtons:hover{
    background-color: #FFE5E5;
    cursor: pointer;
    scale: 1.05;
}

.image {
    width: 300px;
}

#imageDiv{
    display: flex;
    justify-content: center;
}